

.banner {
    position: relative;
    
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0 20px 0;

        @include ipadScreen {
            display: block;
        }
        @include phoneScreen{
            margin-top: 50px;
        }
        @include SEScreen {
            margin-top: 30px;
        }
    }

    &__title {
        font-size: 60px;
        font-weight: 600;
        color: color(white);
        line-height: 50px;
        letter-spacing: 1px;
        margin-bottom: 10px;

        @include tabletScreen{
            font-size: 50px;
            margin-bottom: 10px;
        }
        @include phoneScreen{
            font-size: 36px;
            margin: 0;
        }
        @include SEScreen {
            font-size: 32px;
        }
    }

    &__year {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        color: color(indigo);
        margin-left: 10px;

        @include phoneScreen{
            font-size: 16px;
            color: color(white);
            font-weight: 500;
            margin: 0 0 0 5px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: color(white);
        letter-spacing: 1px;
        margin-bottom: 40px;
        max-width: 580px;

        @include tabletScreen{
            margin-bottom: 10px;
            max-width: 500px;
        }
        @include ipadScreen {
            max-width: 100%;
        }
        @include phoneScreen{
            margin-bottom: 25px;
        }
        @include SEScreen {
            font-size: 15px;
        }
    }

    &__price {
        font-size: 25px;
        font-weight: bold;
        color: color(white);
        letter-spacing: 3px;
        margin-bottom: 75px;

        
        @include tabletScreen{
            margin-bottom: 50px;
        }
    }

    &__monney {
        color: color(indigo);
        margin-left: 8px;
        @include ipadScreen {
            color: #fff;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        max-width: 488px;
        margin-bottom: 90px;


        @include tabletScreen{
            max-width: 400px;
            margin-bottom: 50px;
        }
    }

    &__button {
        width: 250px;
        height: 50px;

        @include tabletScreen {
            width: 200px;
            font-size: 14px;
            border-color: color(white);
        }

        &:last-child {
            width: 175px;

            @include phoneScreen{
                display: none;
            }
        }
        @include phoneScreen{
            width: 100%;
            height: 60px;
            font-size: 16px;
            border-color: color(white);
        }
        @include SEScreen {
            height: 50px;
            font-size: 15px;
        }
    }

    &__bottom-element {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 410px;
        margin: 85px 0 0px 0;

        @include tabletScreen {
            margin: 40px 0 0 0;
            max-width: 600px !important;
        }
        @include phoneScreen{
            max-width: 500px !important;
        }
    }

    &__round-button{
        position: relative;
        width: 168px;
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 14px solid color(indigo);
        box-shadow: 0px 0px 20px #4D0A4F;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        line-height: 160.4%;
        color: color(indigo);
        letter-spacing: 0.045em;
        text-transform: uppercase;

        @include ipadScreen {
            box-shadow: 0px 0px 15px #8c3a73;
        }
        @include phoneScreen{
            width: 120px;
            height: 120px;
            font-size: 13px;
        }

        &::after {
            content: "";
            position: absolute;
            background-color: color(white);
            width: 117px;
            height: 117px;
            border-radius: 50%;
            z-index: -1;
            transition: all .3s;

            @include ipadScreen {
                box-shadow: 0px 0px 40px #fff;
            }
            @include phoneScreen{
                width: 70px;
                height: 70px;
            }
        }

        &:hover{
            color: color(white);

            &::after{
                background-color: #600162;
                box-shadow: 0px 0px 40px #7D537E;
            }
        }
    }
    &__insta {
        font-size: 30px;
        color: color(white);
        
        &:hover {
            color: color(indigo);
            transition: all 0.3s;
        }
    }
    &__fb {
        color: color(white);
        font-size: 30px;
        margin-left: 50px;
        
        &:hover {
            color: color(indigo);
            transition: all 0.3s;
        }
    }
    &__car {
        width: 500px;

        @include ipadScreen {
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -155px;
                background-image: url('../assets/images/iii.png');
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 800px;
                z-index: -5;

                @include phoneScreen {
                    height: 720px;
                  } 
                @include SEScreen {
                    height: 770px;
                } 
            }
        }

        img {
            height: 600px;

            @include tabletScreen {
                width: 555px;
                height: 550px;
            }

            @include ipadScreen {
                display: none;
            } 
        }
    }                            
}
